* {
  padding: 0;
  margin: 0;
}

body {
  background-color: beige;
}

.brand {
  display: flex;
  font-size: 50px;
  font-family: fantasy;
  color: blueviolet;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightpink;
  padding: 15px 25px;
}

nav {
  font-style: italic;
  font-size: 21px;
  padding: 10px;
  border: 30;
  background-color: #f1f1f1;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  gap: 1em;
  margin-top: 1.5%;
  margin-bottom: 2%;
  padding: 1%;
}

li {
  padding: 1em;
  font-size: 22px;
  width: 60px;
  height: 40px;
  background-color: antiquewhite;
  gap: 30px 50px;
}

article {
  display:flex ;
  justify-content: center;
  background-color: antiquewhite;
}

h1 {
  font-size: 50px;
  }

.testimonial {
    order: 6;
  }

footer {
  display: flex;
  margin-top: 11%;
  padding: 2.5em;
  font-size: 30px;
  justify-content: center;
  color: aliceblue;
  background-color: black;
}
